@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes ripple {
  0% {
    transform: scale(1); }
  75% {
    transform: scale(1.75);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html, body {
  scroll-behavior: smooth; }

body {
  background-image: url(../images/main-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #555;
  font-weight: 400;
  position: relative;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333; }

span.tribute {
  display: block;
  font-size: 8rem;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  opacity: 0.4;
  position: absolute;
  text-align: center; }

* {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 70px;
  line-height: 1;
  margin: 0 0 10px;
  font-weight: bold; }

h2 {
  font-size: 24px;
  color: #333;
  margin: 0 0 8px;
  font-weight: 600;
  line-height: 1; }

h3, h4 {
  margin: 0 0 10px;
  font-weight: 700;
  line-height: 1.4;
  color: #333; }

h3 {
  font-size: 17px; }

h4 {
  font-size: 15px; }

h5, h6 {
  font-size: 14px;
  margin: 0 0 10px; }

img {
  border: none;
  outline: none; }

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  font-size: 14px;
  margin-bottom: 15px; }

a {
  font-family: "Roboto Slab",sans-serif;
  letter-spacing: -0.04em; }

/*Section Heading Style*/
.section-heading h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: uppercase; }

.mr-bottom {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .mr-bottom {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mr-bottom {
      margin-bottom: 3rem; } }

.mr-top {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .mr-top {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mr-top {
      margin-top: 3rem; } }

.p-bottom {
  padding-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .p-bottom {
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .p-bottom {
      padding-bottom: 3rem; } }

.p-top {
  padding-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .p-top {
      padding-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .p-top {
      padding-top: 3rem; } }

.space-one {
  height: 40px; }

@media screen and (max-width: 575px) {
  .primary-list {
    padding: 0;
    margin-left: 4rem; } }

.primary-list li {
  position: relative; }
  .primary-list li:before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 15px;
    left: -30px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }

a,
a:hover {
  text-decoration: none; }

a:focus {
  outline: 0;
  text-decoration: none; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888 !important; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888 !important; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #888 !important; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #888 !important; }

button {
  border: none;
  background: none; }

.loaded .site-preloader-wrap {
  opacity: 0;
  visibility: hidden; }

.site-preloader-wrap {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #272c30;
  top: 0;
  left: 0; }

.site-preloader-wrap .spinner {
  background-color: #ffd83f;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px; }

/* Transition Effect */
a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.header-height {
  width: 100%;
  height: 127px; }

.border-one {
  background: #ffffff;
  display: inline-block;
  height: 4px;
  width: 250px;
  margin: 10px 0 20px; }

.nivo-caption {
  height: 100%;
  opacity: 1;
  background: transparent;
  overflow: visible; }

/* nivo directionNav css */
.nivo-directionNav a {
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff !important;
  top: calc(50% - 20px);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.nivo-directionNav a.nivo-prevNav {
  left: 25px; }

.nivo-directionNav a.nivo-nextNav {
  right: 25px; }

.slider-wrapper:hover .nivo-directionNav a.nivo-prevNav {
  left: 15px;
  opacity: 0.7; }

.slider-wrapper:hover .nivo-directionNav a.nivo-nextNav {
  right: 15px;
  opacity: 0.7; }

.nivo-directionNav a:hover {
  opacity: 1 !important; }

/* nivo controlNav css */
.nivo-controlNav {
  padding: 0;
  position: absolute;
  z-index: 12;
  bottom: 30px;
  width: 100%; }

.nivo-controlNav a {
  background-color: transparent;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s linear;
  line-height: 12px; }

.nivo-controlNav a.active {
  background-color: #2caee2; }

.owl-carousel .owl-stage {
  padding: 20px 0; }

.owl-item.center {
  box-shadow: 0px 0px 15px 5px rgba(34, 34, 34, 0.09); }

/*Owl Carousel Dots*/
.owl-dots {
  display: block;
  text-align: center; }

.owl-dots .owl-dot {
  background-color: #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  transition: all 0.5s ease-in-out; }

.owl-dots .owl-dot.active {
  background-color: #F6AE2D;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s ease-in-out; }

.default-btn {
  background-color: #fab702;
  color: #fff;
  line-height: 45px;
  display: inline-block;
  padding: 0 25px;
  border-radius: 1px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600; }

.default-btn:hover {
  background-color: #dba000;
  color: #fff; }

.default-btn.btn_sm {
  line-height: 40px;
  padding: 0 15px; }

/*Regestration Form*/
.reg-form {
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  overflow: hidden; }
  .reg-form form {
    padding: 40px 30px; }
    .reg-form form .form-group {
      margin-bottom: 5px; }
  .reg-form .form-heading {
    background-color: #F6AE2D;
    padding: 40px 0;
    border-radius: 0 0 20px 20px; }
    .reg-form .form-heading h2 {
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
      color: #ffffff; }
    .reg-form .form-heading span {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      letter-spacing: 0;
      margin-top: 10px; }
  .reg-form .btn-primary {
    display: block;
    background-color: #F6AE2D;
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    border: none;
    outline: none;
    padding: 15px 0;
    margin-top: 20px; }
    .reg-form .btn-primary:hover {
      background-color: #dba000; }
  .reg-form .form-control {
    background-color: #fafafa;
    border-radius: 0;
    border: none;
    border: 1px solid #eee;
    outline: none;
    box-shadow: none;
    padding: 12px; }

footer {
  background: #27293d; }
  footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.18); }
  footer .copyright {
    padding: 1rem 0;
    text-align: center; }
  footer .widget-section {
    background-color: #00a0e3;
    width: 100%;
    height: 100%; }
  footer .widget-content img {
    margin-bottom: 15px; }
  footer .widget-content p {
    color: #999; }
  footer .widget-content h3 {
    color: #ddd;
    margin-bottom: 15px; }
  footer .widget-content .social-icon li {
    display: inline-block;
    margin-right: 5px; }
  footer .widget-content .social-icon li a {
    display: inline-block;
    background-color: transparent;
    color: #ddd;
    border: 2px solid #555;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%; }
  footer .widget-content .social-icon li a:hover {
    color: #F6AE2D; }
  footer .widget-content .widget-link li {
    display: block;
    list-style: inside; }
  footer .widget-content .widget-link li a {
    color: #999;
    margin-bottom: 5px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
  footer .widget-content .widget-link li a:hover {
    color: #F6AE2D;
    text-decoration: underline; }
  footer .subscribe-form .form-input {
    width: 100%;
    height: 45px;
    padding: 15px; }
  footer .subscribe-form .submit {
    background-color: #F6AE2D;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    height: 45px; }
  footer .subscribe-form .submit:hover {
    background-color: #dba000; }

header {
  transition: all 0.4s ease 0s; }
  header .middleheader {
    background: #090818;
    padding: 17.8px 0; }
    @media screen and (max-width: 1200px) {
      header .middleheader .container {
        max-width: 90%;
        padding: 0; } }
    @media only screen and (max-width: 768px) {
      header .middleheader {
        display: none; } }
    header .middleheader .how-contact a:hover {
      border-bottom: 1px solid #ffffff; }
    header .middleheader .how-contact ul,
    header .middleheader .help-support ul {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0;
      margin-bottom: 0; }
      header .middleheader .how-contact ul li,
      header .middleheader .help-support ul li {
        color: #ffffff;
        font-size: 14px !important;
        list-style: none; }
        header .middleheader .how-contact ul li a,
        header .middleheader .how-contact ul li span,
        header .middleheader .help-support ul li a,
        header .middleheader .help-support ul li span {
          color: #ffffff;
          font-size: 14px !important; }
          @media screen and (max-width: 1200px) and (min-width: 992px) {
            header .middleheader .how-contact ul li a,
            header .middleheader .how-contact ul li span,
            header .middleheader .help-support ul li a,
            header .middleheader .help-support ul li span {
              font-size: 13px !important; } }
    header .middleheader .help-support ul {
      justify-content: flex-end; }
      header .middleheader .help-support ul a {
        text-transform: uppercase;
        border: 1px solid;
        padding: 4px 15px;
        border-radius: 30px;
        transition: all 0.4s ease 0s; }
      header .middleheader .help-support ul li.support a {
        background: transparent; }
        header .middleheader .help-support ul li.support a:hover {
          color: #00a0e3;
          background: #ffffff; }
      header .middleheader .help-support ul li.login a {
        background: #ffffff;
        color: #00a0e3; }
        header .middleheader .help-support ul li.login a:hover {
          background: transparent;
          color: #ffffff; }
      header .middleheader .help-support ul li.signup a {
        text-transform: uppercase;
        color: #00a0e3;
        background: #ffffff;
        border: 1px solid #ffffff;
        padding: 4px 15px;
        border-radius: 30px;
        transition: all 0.4s ease 0s; }
        header .middleheader .help-support ul li.signup a:hover {
          background: transparent;
          color: #ffffff; }
  @media only screen and (max-width: 992px) {
    header ul.navbar-nav {
      width: 85%;
      margin: auto;
      height: 75vh;
      overflow: scroll; } }
  header .navbar-toggler:focus {
    box-shadow: none; }
  @media screen and (min-width: 992px) {
    header .topheader {
      padding: 17.325px 0; } }
  header .topheader .lg-grid {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .topheader .lg-grid__items:first-child {
      display: flex;
      align-items: center;
      gap: 10px; }
      header .topheader .lg-grid__items:first-child img {
        width: 25rem; }
      @media screen and (max-width: 992px) {
        header .topheader .lg-grid__items:first-child {
          display: none; } }
      header .topheader .lg-grid__items:first-child p {
        margin-bottom: 0 !important;
        font-weight: 600;
        color: #00a0e3;
        line-height: 1.2; }
    header .topheader .lg-grid__items .top-contact {
      display: flex;
      list-style: none;
      flex-direction: column;
      margin-bottom: 0;
      padding-left: 0; }
      @media only screen and (max-width: 992px) {
        header .topheader .lg-grid__items .top-contact {
          flex-direction: row;
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;
          z-index: 9; }
          header .topheader .lg-grid__items .top-contact li {
            width: 50%;
            justify-content: center;
            height: 100%;
            padding: 10px 0; }
            header .topheader .lg-grid__items .top-contact li:nth-child(1) {
              background: #00d95f; }
            header .topheader .lg-grid__items .top-contact li:nth-child(2) {
              background: #ff0000; }
            header .topheader .lg-grid__items .top-contact li a {
              color: #ffffff; }
            header .topheader .lg-grid__items .top-contact li i {
              display: none; } }
      header .topheader .lg-grid__items .top-contact i {
        font-size: 24px;
        padding-right: 5px;
        color: #00a0e3; }
      header .topheader .lg-grid__items .top-contact li {
        display: flex;
        align-items: center; }
        @media only screen and (min-width: 992.1px) {
          header .topheader .lg-grid__items .top-contact li:first-child {
            margin-bottom: 5px; } }
      header .topheader .lg-grid__items .top-contact a {
        transition: all 0.4s ease 0s;
        color: #00a0e3; }
        header .topheader .lg-grid__items .top-contact a:hover {
          text-decoration: underline;
          color: #F6AE2D; }
  header .navbar .navbar-toggler {
    border: none !important; }
  header .navbar.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .7s; }
  @media screen and (min-width: 992.5px) {
    header nav {
      background: #00a0e3; } }
  @media only screen and (max-width: 992px) {
    header nav {
      background-color: #ffffff; } }
  header nav .nav-item {
    padding: 6.888px 0; }
    header nav .nav-item a {
      font-size: 12px !important; }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      header nav .nav-item:nth-child(1) {
        padding-left: 0; }
      header nav .nav-item:last-child {
        padding-right: 0; } }
    @media screen and (max-width: 1399.9px) and (min-width: 1200px) {
      header nav .nav-item {
        font-size: 18px; } }
  @media screen and (max-width: 1199.9px) and (min-width: 768px) {
    header nav a.btn.subscribe-btn {
      width: auto;
      font-size: 16px; }
    header nav .navbar-brand img {
      max-width: 200px !important; } }
  header nav a.nav-link,
  header nav .active {
    transition: all 0.4s ease 0s;
    text-transform: uppercase; }
    @media only screen and (min-width: 992.1px) {
      header nav a.nav-link,
      header nav .active {
        color: #ffffff !important; } }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      header nav a.nav-link,
      header nav .active {
        font-size: 14.5px !important; } }
    @media only screen and (min-width: 992.1px) {
      header nav a.nav-link:hover,
      header nav .active:hover {
        color: #ffffff !important; } }
  header nav .navbar-brand img {
    max-width: 200px; }
    @media screen and (min-width: 576px) and (max-width: 768px) {
      header nav .navbar-brand img {
        max-width: 193.5px; } }
    @media only screen and (max-width: 575px) {
      header nav .navbar-brand img {
        max-width: 170px; } }
  header nav .collapse {
    justify-content: flex-end; }
    @media only screen and (max-width: 992px) {
      header nav .collapse {
        background-color: #ffffff;
        z-index: 9; } }
  @media only screen and (min-width: 1800px) {
    header nav .navbar-nav {
      gap: 15px; } }
  @media only screen and (min-width: 992.1px) {
    header nav .navbar-nav {
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      gap: 3rem;
      width: 100%; } }
  header nav .dropdown > a::after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border-top: none;
    font-size: 10px;
    vertical-align: 3px; }
  header nav .dropdown .dropdown-menu {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px solid #00a0e3;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 0 0 15px 15px; }
    @media screen and (max-width: 991.5px) {
      header nav .dropdown .dropdown-menu {
        display: block;
        position: static;
        padding: 0 30px; } }
    header nav .dropdown .dropdown-menu li:not(:last-child) {
      padding: 3px 0;
      margin: 3px 5px;
      border-bottom: 1px solid rgba(0, 160, 227, 0.2); }
    header nav .dropdown .dropdown-menu li a {
      text-transform: uppercase; }
  @media screen and (max-width: 992) {
    header nav .dropdown .dropdown .dropdown-menu {
      display: none;
      transition: all 0.4s ease 0s; }
    header nav .dropdown .dropdown:hover .dropdown-menu {
      display: block; } }
  @media only screen and (min-width: 992.1px) {
    header nav .dropdown .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10%);
      transition: all 0.4s ease 0s; }
    header nav .dropdown:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: none;
      margin-top: 0; } }

.slider-section .slider-wrapper {
  position: relative; }

.slider-section .display-table {
  width: 100%;
  height: 100%;
  display: table; }

.slider-section .table-cell {
  display: table-cell;
  vertical-align: middle; }

.slider-section .slider-text {
  width: 100%;
  text-align: left; }
  .slider-section .slider-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.8); }
  .slider-section .slider-text h5 {
    font-weight: 700;
    color: #ddd; }
  .slider-section .slider-text a {
    display: inline-block !important; }
  .slider-section .slider-text p {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 15px; }

.promo-section .iconbox {
  background: #ffffff;
  padding: 41px 30px 53px;
  position: relative;
  transition: all 0.4s ease 0s;
  height: 100%;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  .promo-section .iconbox .overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s ease 0s; }
    .promo-section .iconbox .overlay .vline {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 9;
      width: calc(50% - 20px);
      height: calc(50% - 20px);
      transition: all .3s ease; }
      .promo-section .iconbox .overlay .vline::before, .promo-section .iconbox .overlay .vline::after {
        content: '';
        background: #fff;
        display: block;
        transition: all .5s ease; }
      .promo-section .iconbox .overlay .vline::before {
        height: 1px;
        width: 0; }
      .promo-section .iconbox .overlay .vline::after {
        width: 1px;
        height: 0; }
    .promo-section .iconbox .overlay .vline-bottom {
      top: auto;
      left: auto;
      bottom: 20px;
      right: 20px;
      transform: rotate(180deg); }
  .promo-section .iconbox:hover {
    background: #00a0e3;
    box-shadow: none;
    transform: scale(1.05) translateY(-3px); }
    .promo-section .iconbox:hover .overlay {
      opacity: 0.5; }
      .promo-section .iconbox:hover .overlay .vline:before {
        width: 100%; }
      .promo-section .iconbox:hover .overlay .vline:after {
        height: 100%; }
    .promo-section .iconbox:hover i,
    .promo-section .iconbox:hover .title, .promo-section .iconbox:hover p {
      color: #ffffff; }
    .promo-section .iconbox:hover img {
      filter: brightness(0) saturate(100%) invert(100%); }
  .promo-section .iconbox.active {
    background: #00a0e3;
    box-shadow: none; }
    .promo-section .iconbox.active i,
    .promo-section .iconbox.active .title, .promo-section .iconbox.active p {
      color: #ffffff; }
    .promo-section .iconbox.active img {
      filter: brightness(0) saturate(100%) invert(100%); }
  .promo-section .iconbox__icon {
    transform: rotate(-20deg);
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: unset;
    transform: unset;
    border-radius: unset;
    border: unset;
    font-size: 60px;
    margin-bottom: 20px;
    transition: all 0.4s ease 0s;
    animation: unset; }
    .promo-section .iconbox__icon i {
      color: #00a0e3; }
  .promo-section .iconbox__content {
    padding: 0 15px; }
    .promo-section .iconbox__content .title {
      font-family: "'Playfair Display', sans-serif";
      font-size: 20px;
      letter-spacing: normal;
      font-weight: 700;
      padding: 0 0 20px 0;
      display: inline-block;
      border-radius: 40px;
      text-transform: uppercase;
      transition: all 0.4s ease 0s; }

.about-section {
  position: relative;
  background-image: url(../images/jagdish-bg-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; }
  .about-section::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .about-section .container {
    position: relative; }
  .about-section .img-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00a0e3;
    outline: 2px solid #ffffff;
    border-radius: 50%;
    background: #ffffff;
    margin: 1rem auto; }
  .about-section .ans-data p {
    margin-bottom: 0;
    text-transform: capitalize; }
  .about-section .logo-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem; }
    .about-section .logo-grid .logo-wrapper {
      width: 15rem;
      height: 8rem;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      position: relative;
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      outline: 2px solid;
      border-radius: 2rem 0;
      margin: 1rem auto;
      padding: 2rem;
      transition: all 0.4s ease 0s; }
      .about-section .logo-grid .logo-wrapper:hover {
        border-radius: 0 2rem; }
      .about-section .logo-grid .logo-wrapper.cms {
        background: #0b54a0;
        outline-color: #0b54a0;
        border-color: #fff; }
      .about-section .logo-grid .logo-wrapper.devi {
        background: #ffffff;
        outline-color: #ffffff;
        border-color: green; }
  .about-section .top-heading h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 72px;
    letter-spacing: 1px; }
    .about-section .top-heading h2 span {
      display: block;
      font-size: 40%;
      margin-top: 10px; }
  .about-section .about-content {
    padding: 70px 0 40px; }
    .about-section .about-content h2 {
      font-size: 40px;
      margin-bottom: 20px; }
  .about-section .about-list {
    margin-bottom: 20px; }
    .about-section .about-list li {
      list-style: inside; }
  @media only screen and (max-width: 768px) {
    .about-section .jagadish-gandhi {
      text-align: center; } }
  .about-section .jagadish-gandhi img {
    margin: auto;
    width: calc(100% - 4rem); }

.power-alfa .r-video {
  position: relative;
  background: transparent;
  width: 100%;
  margin: 38px auto; }
  .power-alfa .r-video img {
    margin: auto;
    display: block; }
    @media only screen and (min-width: 768.1px) {
      .power-alfa .r-video img {
        width: calc(100% - 100px); } }
  .power-alfa .r-video::before {
    content: "";
    background-image: url(../images/sharp-bg.png);
    position: absolute;
    top: -38px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: scale(0.9);
    mix-blend-mode: multiply; }
    @media only screen and (max-width: 768px) {
      .power-alfa .r-video::before {
        content: none; } }
  .power-alfa .r-video::after {
    content: "";
    background-image: url(../images/sharp-bg.png);
    position: absolute;
    right: 0;
    bottom: -38px;
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: scale(0.9);
    mix-blend-mode: multiply; }
    @media only screen and (max-width: 768px) {
      .power-alfa .r-video::after {
        content: none; } }
  .power-alfa .r-video .overlayIcon {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    place-content: center;
    display: grid;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #00a0e3;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
    .power-alfa .r-video .overlayIcon::before, .power-alfa .r-video .overlayIcon::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid #00a0e3;
      transition: .5s; }
    .power-alfa .r-video .overlayIcon::before {
      animation: ripple 2s linear infinite; }
    .power-alfa .r-video .overlayIcon::after {
      animation: ripple 2s linear 1s infinite; }
    .power-alfa .r-video .overlayIcon i {
      font-size: 2rem; }

.reg-section {
  background-image: url(../images/reg-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
  .reg-section::before {
    background-color: rgba(39, 41, 61, 0.9);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1; }
  .reg-section .reg-wrap {
    display: flex;
    align-items: center; }
    .reg-section .reg-wrap .reg-content .counter {
      font-size: 60px;
      color: #F6AE2D; }
    .reg-section .reg-wrap .reg-content h4 {
      color: #555; }
    .reg-section .reg-wrap .reg-content h2 {
      font-size: 70px;
      color: #ffffff;
      margin-bottom: 20px; }
    .reg-section .reg-wrap .reg-content h3 {
      color: #ddd; }

.campuses-section .event-wrap {
  background-color: #ffffff;
  padding: 50px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px 0px rgba(34, 34, 34, 0.09);
  border: 2px dashed #ddd; }
  .campuses-section .event-wrap .event-thumb img {
    width: 100%; }
  .campuses-section .event-wrap:last-child {
    margin-bottom: 0; }
  .campuses-section .event-wrap .event-details h2 a {
    color: #333; }
    .campuses-section .event-wrap .event-details h2 a:hover {
      color: #F6AE2D; }
  .campuses-section .event-wrap .event-details p {
    margin: 0; }
  .campuses-section .event-wrap .event-details .ticket-btn {
    margin-top: 15px; }
    .campuses-section .event-wrap .event-details .ticket-btn a {
      display: inline-block;
      line-height: inherit;
      padding: 10px 25px;
      text-align: center; }
  .campuses-section .event-wrap .event-details .event-time {
    margin-bottom: 20px; }
    .campuses-section .event-wrap .event-details .event-time li {
      display: inline-block;
      margin-right: 20px;
      font-weight: 600;
      color: #777;
      text-transform: uppercase; }
      .campuses-section .event-wrap .event-details .event-time li i {
        color: #F6AE2D;
        margin-right: 5px; }

.counter-section {
  background-image: url(../images/reg-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  z-index: 1; }
  .counter-section::before {
    background-color: rgba(39, 41, 61, 0.9);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1; }
  .counter-section .counters .counter-content {
    display: block;
    color: #ffffff;
    text-align: center; }
    .counter-section .counters .counter-content i {
      font-size: 45px;
      color: #F6AE2D;
      display: block; }
    .counter-section .counters .counter-content span {
      display: block;
      color: #ffffff;
      font-size: 40px;
      margin: 0 05px 0 0; }
    .counter-section .counters .counter-content h3 {
      font-size: 18px;
      color: #ddd;
      font-weight: 700;
      display: block; }

.testimonial-section .testimonial-item {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px; }
  .testimonial-section .testimonial-item img {
    max-width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .testimonial-section .testimonial-item h4 span {
    display: block;
    font-size: 12px;
    font-weight: 400; }
  .testimonial-section .testimonial-item .rattings {
    display: inline-block; }
    .testimonial-section .testimonial-item .rattings li {
      display: inline-block;
      color: #F6AE2D; }

.video-cta {
  position: relative;
  z-index: 1; }
  .video-cta .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .35;
    overflow: hidden; }
    .video-cta .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .video-cta .video-content-wrapper {
    background-color: rgba(39, 41, 61, 0.8); }
    .video-cta .video-content-wrapper .default-btn {
      color: #ffffff;
      cursor: pointer; }
      .video-cta .video-content-wrapper .default-btn:focus {
        border: none;
        outline: none; }
    .video-cta .video-content-wrapper .video-content {
      padding: 150px 0; }
      .video-cta .video-content-wrapper .video-content h2 {
        font-size: 50px;
        margin-bottom: 20px;
        color: #ffffff; }
      .video-cta .video-content-wrapper .video-content h3 {
        color: #ddd; }

.ongoing-section .blog-post {
  background: #ffffff;
  border: 1px solid #ddd; }
  .ongoing-section .blog-post img {
    width: 100%;
    margin-bottom: 10px; }
    .ongoing-section .blog-post img:hover {
      box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.2); }
  .ongoing-section .blog-post .blog-content {
    padding: 1.5rem 1rem; }
    .ongoing-section .blog-post .blog-content p {
      margin-bottom: 0; }
    .ongoing-section .blog-post .blog-content h3 {
      font-weight: 700;
      font-size: 18px; }
      .ongoing-section .blog-post .blog-content h3 a {
        color: #333; }
        .ongoing-section .blog-post .blog-content h3 a:hover {
          opacity: 0.8; }
    .ongoing-section .blog-post .blog-content .date {
      font-family: "Roboto Slab", sans-serif;
      color: #999;
      font-weight: 700;
      font-size: 10px;
      display: block;
      margin-bottom: 5px; }
    .ongoing-section .blog-post .blog-content .post-meta {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #333;
      margin-top: 2rem;
      display: inline-block;
      letter-spacing: -0.2px; }
      .ongoing-section .blog-post .blog-content .post-meta:hover {
        opacity: 0.8;
        text-decoration: underline; }

.sponsor-section {
  padding: 20px 0; }
  .sponsor-section .sponsor-item img {
    width: 100%;
    padding: 20px;
    opacity: 0.8; }
    .sponsor-section .sponsor-item img:hover {
      opacity: 1; }
