header {
    .middleheader {
      background: rgba($colorBg, $alpha: 1);
      padding: 17.8px 0;
      .container {
        @media screen and (max-width: 1200px) {
          max-width: 90%;
          padding: 0;
        }
      }
      @include respond (maxWidth768){
        display: none;
      }
      .how-contact {
        a:hover {
          border-bottom: 1px solid $colorWhite;
        }
      }
      .how-contact,
      .help-support {
        ul {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0;
          margin-bottom: 0;
          li {
            color: $colorWhite;
            font-size: 14px !important;
            list-style: none;
            a,
            span {
              color: $colorWhite;
              font-size: 14px !important;
              @media screen and (max-width: 1200px) and (min-width: 992px) {
                font-size: 13px !important;
              }
            }
          }
        }
      }
      .help-support {
        ul {
          justify-content: flex-end;
          a {
              text-transform: uppercase;
              border: 1px solid;
              padding: 4px 15px;
              border-radius: 30px;
              transition: $transition;
            }
          li.support {
           a{
            background: transparent;
            &:hover{
              color: $colorPrimary;
              background: $colorWhite;
            }
           }  
          }
          li.login {
            a {
              background: $colorWhite;
              color: $colorPrimary;
              &:hover{
                background: transparent;
                color: $colorWhite;
              }
            }
          }
          li.signup {
            a {
              text-transform: uppercase;
              color: $colorPrimary;
              background: $colorWhite;
              border: 1px solid $colorWhite;
              padding: 4px 15px;
              border-radius: 30px;
              transition: $transition;
              &:hover {
                background: transparent;
                color: $colorWhite;
              }
            }
          }
        }
      }
    }
    @include respond (maxWidth992) {
      ul.navbar-nav {
        width: 85%;
        margin: auto;
        height: 75vh;
        overflow: scroll;
      }
    }
    transition: $transition;
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .topheader {
      @media screen and (min-width:992px) {
        padding: 17.325px 0;
      }
      .lg-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__items{
          &:first-child{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 25rem;
            }
            @media screen and (max-width:992px) {
              display: none;
            }
            p{
              margin-bottom: 0!important;
              font-weight: 600;
              color: rgba($colorPrimary, $alpha: 1);
              line-height: 1.2;
            }
          }
          .top-contact{
      display:flex;
      list-style:none;
      flex-direction:column;
      margin-bottom:0;
      padding-left:0;
    @include respond (maxWidth992){
      flex-direction: row;
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 9;
      li{
        width: 50%;
        justify-content: center;
        height: 100%;
        padding: 10px 0;
        &:nth-child(1){
          background: #00d95f;
        }
        &:nth-child(2){
          background: #ff0000;
        }
         a{
          color: $colorWhite;
        }
        i{
          display: none;
        }
      }
    }
    i{
      font-size:24px;
      padding-right:5px;
      color:$colorPrimary;
  }
  li{
      display:flex;
      align-items:center;
    &:first-child{
      @include respond (minWidth992){
      margin-bottom:5px;
    }
  }
  }
  a{
      transition:$transition;
    color: $colorPrimary;
    &:hover{
      text-decoration:underline;
    color: $colorSecondary;
  }
  }
  }
        }
      }
    }
  
    .navbar {
      .navbar-toggler {
        border: none !important;
      }
      &.fixed-top{
        top: -40px;
      transform: translateY(40px);
      transition: transform .7s;
      }
    }
    nav {
      @media screen and (min-width: 992.5px) {
        background: $colorPrimary;
      }
      @include respond (maxWidth992) {
        background-color: $colorWhite;
      }
      .nav-item {
        a{
          font-size: 12px!important;
        }
        padding: 6.888px 0;
        @media screen and (min-width: 992px) and (max-width: 1200px) {
          &:nth-child(1) {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
        @media screen and (max-width: 1399.9px) and (min-width: 1200px) {
          font-size: 18px;
        }
      }
      @media screen and (max-width: 1199.9px) and (min-width: 768px) {
        a.btn.subscribe-btn {
          width: auto;
          font-size: 16px;
        }
        .navbar-brand img {
          max-width: 200px !important;
        }
      }
      a.nav-link,
      .active {
        @include respond (minWidth992) {
          color: $colorWhite !important;
        }
        @media screen and (min-width: 992px) and (max-width: 1200px) {
          font-size: 14.5px !important;
        }
        transition: $transition;
        text-transform: uppercase;
        &:hover {
          @include respond (minWidth992){
            color: $colorWhite !important;
          }
        }
      }
      .navbar-brand {
        img {
          max-width: 200px;
          @media screen and (min-width: 576px) and (max-width: 768px) {
            max-width: 193.5px;
          }
          @include respond (maxWidth575){
            max-width: 170px;
          }
        }
      }
      .collapse {
        justify-content: flex-end;
        @include respond (maxWidth992) {
          background-color: $colorWhite;
          z-index: 9;
        }
      }
      .navbar-nav {
        @include respond (minWidth1800) {
          gap: 15px;
        }
        @include respond (minWidth992) {
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            gap: 3rem;
      width: 100%;
        }
      }
      .dropdown {
        & > a {
          &::after {
            content: "\f078";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            border-top: none;
            font-size: 10px;
            vertical-align: 3px;
          }
        }
        .dropdown-menu {
          @media screen and (max-width: 991.5px) {
            display: block;
            position: static;
            padding: 0 30px;
          }
          border-left: none;
          border-right: none;
          border-bottom: none;
          border-top: 3px solid $colorPrimary;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          border-radius: 0 0 15px 15px;
          li:not(:last-child) {
            padding: 3px 0;
            margin: 3px 5px;
            border-bottom: 1px solid rgba($colorPrimary, $alpha: 0.2);
          }
          li a {
            text-transform: uppercase;
          }
        }
        @media screen and (max-width: 992) {
          .dropdown {
            .dropdown-menu {
              display: none;
              transition: $transition;
            }
            &:hover {
              .dropdown-menu {
                display: block;
              }
            }
          }
        }
        @include respond (minWidth992) {
          .dropdown-menu {
            display: block;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10%);
            transition: $transition;
          }
          &:hover {
            .dropdown-menu {
              opacity: 1;
              visibility: visible;
              transform: none;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  
  // @include respond (maxWidth992){
  //   .dropdown-toggle + ul.dropdown-menu{
  //   display: none;
  // }
  // }