$colorPrimary: #00a0e3;
$colorSecondary:#F6AE2D;
$colorWhite: #ffffff;
$colorBg:#090818;
$colorBorder:#eaeaea;
$colorGrey:#777;
$colorFooter:#27293d;

$boxShadowOne:5px -5px 5px 10px rgba(0, 0, 0, .10);
$transition: all 0.4s ease 0s;
