.mr-bottom {
  margin-bottom: 7rem;

  @include respond(maxWidth992) {
    margin-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    margin-bottom: 3rem;
  }
}

.mr-top {
  margin-top: 7rem;

  @include respond(maxWidth992) {
    margin-top: 5rem;
  }

  @include respond(maxWidth768) {
    margin-top: 3rem;
  }
}

.p-bottom {
  padding-bottom: 7rem;

  @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
}

.p-top {
  padding-top: 7rem;

  @include respond(maxWidth992) {
    padding-top: 5rem;
  }

  @include respond(maxWidth768) {
    padding-top: 3rem;
  }
}

.space-one {
  height: 40px;

  @include respond (phone-before) {
    height: 30px;
  }
}

.primary-list {
  @media screen and (max-width:575px) {
    padding: 0;
    margin-left: 4rem;
  }

  @include respond (small-desktop-after) {
    padding-left: 5rem;
  }

  li {
    position: relative;

    &:before {
      content: "";
      // background-image: url("../images/primary-list-01.png");
      background-size: cover;
      position: absolute;
      top: 15px;
      left: -30px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }
}

a,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #888 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #888 !important;
}

button {
  border: none;
  background: none;
}

.loaded .site-preloader-wrap {
  opacity: 0;
  visibility: hidden;
}

.site-preloader-wrap {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #272c30;
  top: 0;
  left: 0
}

.site-preloader-wrap .spinner {
  background-color: #ffd83f;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

/* Transition Effect */
a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-height {
  width: 100%;
  height: 127px;
}

.border-one {
  background: $colorWhite;
  display: inline-block;
  height: 4px;
  width: 250px;
  margin: 10px 0 20px;
}

.nivo-caption {
  height: 100%;
  opacity: 1;
  background: transparent;
  overflow: visible;
}

/* nivo directionNav css */
.nivo-directionNav a {
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: $colorWhite !important;
  top: calc(50% - 20px);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nivo-directionNav a.nivo-prevNav {
  left: 25px;
}

.nivo-directionNav a.nivo-nextNav {
  right: 25px;
}

.slider-wrapper:hover .nivo-directionNav a.nivo-prevNav {
  left: 15px;
  opacity: 0.7;
}

.slider-wrapper:hover .nivo-directionNav a.nivo-nextNav {
  right: 15px;
  opacity: 0.7;
}

.nivo-directionNav a:hover {
  opacity: 1 !important;
}

/* nivo controlNav css */
.nivo-controlNav {
  padding: 0;
  position: absolute;
  z-index: 12;
  bottom: 30px;
  width: 100%;
}

.nivo-controlNav a {
  background-color: transparent;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s linear;
  line-height: 12px;
}

.nivo-controlNav a.active {
  background-color: #2caee2;
}

.owl-carousel .owl-stage {
  padding: 20px 0;
}

.owl-item.center {
  box-shadow: 0px 0px 15px 5px rgba(34, 34, 34, 0.09);
}

/*Owl Carousel Dots*/
.owl-dots {
  display: block;
  text-align: center;
}

.owl-dots .owl-dot {
  background-color: #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  transition: all 0.5s ease-in-out;
}

.owl-dots .owl-dot.active {
  background-color: $colorSecondary;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}